<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    new Template Plataforma 5
    <h1>NOMBRE: <%= nombre %></h1>
    <h1>CURSO: <%= curso %></h1>

    <% if(edad > 18) {%>
        <h1>BIEN</h1>
    <% } %>
</body>
</html>