<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= producto.id %>" method="POST">
        nombre: <input type="text" value="<%= producto.nombre %>" name="nombre">
        descripcion: <input type="text" value="<%= producto.descripcion %>" name="descripcion">
        precio: <input type="number" value="<%= producto.precio %>" name="precio">
        <input type="submit">
    </form>
</body>
</html>